<!-- This is a Page which Renders TGIF Event Image from S3, to denoted what is the next event -->
{% extends 'base.html' %}
{% block nameofemployee %} Home{% endblock nameofemployee %} 
{% block body %}
  <body>
    <div class="content">
        <div>
          <h3>Below are Event Details for Upcoming Friday🎉🎁🤳:</h3>
          <h3>Zoom in to see details of Event's Image:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <img src={{ item }} style="width: 250px">
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </body>
  {% endblock body %}
